.d-desktop {
    display: none;
}

.text-red {
    color: #d71921;
}

.sub {
    text-align: center;
    font-weight: 800;
    margin-bottom: 10rem;

    .big-title {
        color: #000;
        font-size: 1.875rem;
    }

    .small-title {
        color: #606060;
        font-size: 0.8rem;
    }
}

.history {
    .bg-orange {
        background-color: #ff6e2b !important;
    }

    .bg-light-orange {
        background-color: #ff9422 !important;
    }

    .bg-yellow {
        background-color: #ffb20f !important;
    }

    .bg-red {
        background-color: #d71920 !important;
    }

    .bg-red2 {
        background-color: #d7191f !important;
    }

    .bg-pink {
        background: #ff4b3e !important;
    }

    .color-orange {
        color: #ff6e2b !important;
    }

    .color-light-orange {
        color: #ff9422 !important;
    }

    .color-yellow {
        color: #ffb20f !important;
    }

    .color-red {
        color: #d71920 !important;
    }

    .color-pink {
        color: #ff4b3e !important;
    }

    .color-red {
        color: #d7191f !important;
    }

    .timeline {
        // height: 525px;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);

        .col {
            padding: 0;
        }

        .pd-1983 {
            padding: 0 45px;
        }

        .year {
            font-size: 3rem;
            line-height: 3.74rem;
            font-family: "iCiel Gotham Bold";
        }

        .text {
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.6rem;
            color: #58595b;
        }

        .block {
            height: 45px;
            width: 100%;
            background-color: #e7e7e7;
            text-align: center;
            position: relative;
        }

        .circle {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left: calc(50% - 50px);

            img {
                max-width: 100%;
                height: auto;
                position: absolute;
                left: calc(50% - 25px);
                top: 15px;
            }
        }

        &.animation-block-container {
            position: relative;

            .animation-block-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
                background-color: #e7e7e7;
                z-index: 1;
            }

            .circle-animation {
                .circle {
                    opacity: 0;
                }

                .line {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    left: calc(50% - 50px);
                    opacity: 0;

                    &::before {
                        content: "";
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: solid 2px #1e1e1e;
                        display: inline-block;
                        position: absolute;
                        left: calc(50% - 7px);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        background-color: #1e1e1e;
                        height: 0;
                        left: calc(50% - 1px);
                    }
                }
            }

            .circle-animation.up {
                .circle {
                    top: -250px;
                }

                .line {
                    top: -250px;

                    &::after {
                        bottom: -165px;
                    }

                    &::before {
                        top: 263px;
                    }
                }
            }

            .circle-animation.down {
                .circle {
                    bottom: -250px;
                }

                .line {
                    bottom: -250px;

                    &::after {
                        top: -165px;
                    }

                    &::before {
                        bottom: 263px;
                    }
                }
            }

            .text-animation {
                opacity: 0;
            }

            .text-animation.up {
                -webkit-transform: translateY(75%);
                transform: translateY(75%);
            }

            .text-animation.down {
                -webkit-transform: translateY(-75%);
                transform: translateY(-75%);
            }
        }

        &.animation-block-container.active {
            .animation-block-overlay {
                -webkit-transition: all 7.5s linear;
                transition: all 7.5s linear;
                width: 0;
            }

            .text-animation {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: all 0.75s ease;
                transition: all 0.75s ease;
            }

            .circle-animation {
                .circle {
                    opacity: 1;
                    -webkit-transition: 0.25s ease;
                    transition: 0.25s ease;
                }

                .line {
                    opacity: 1;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;

                    &::after {
                        height: 165px;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
            }

            .el-1 {
                -webkit-transition-delay: 1.25s;
                transition-delay: 1.25s;

                .circle {
                    -webkit-transition-delay: 1.7s;
                    transition-delay: 1.7s;
                }

                .line {
                    -webkit-transition-delay: 1.25s;
                    transition-delay: 1.25s;

                    &::after {
                        -webkit-transition-delay: 1.25s;
                        transition-delay: 1.25s;
                    }
                }
            }

            .el-2 {
                -webkit-transition-delay: 2.5s;
                transition-delay: 2.5s;

                .circle {
                    -webkit-transition-delay: 2.95s;
                    transition-delay: 2.95s;
                }

                .line {
                    -webkit-transition-delay: 2.5s;
                    transition-delay: 2.5s;

                    &::after {
                        -webkit-transition-delay: 2.5s;
                        transition-delay: 2.5s;
                    }
                }
            }

            .el-3 {
                -webkit-transition-delay: 3.75s;
                transition-delay: 3.75s;

                .circle {
                    -webkit-transition-delay: 4.2s;
                    transition-delay: 4.2s;
                }

                .line {
                    -webkit-transition-delay: 3.75s;
                    transition-delay: 3.75s;

                    &::after {
                        -webkit-transition-delay: 3.75s;
                        transition-delay: 3.75s;
                    }
                }
            }

            .el-4 {
                -webkit-transition-delay: 5s;
                transition-delay: 5s;

                .circle {
                    -webkit-transition-delay: 5.45s;
                    transition-delay: 5.45s;
                }

                .line {
                    -webkit-transition-delay: 5s;
                    transition-delay: 5s;

                    &::after {
                        -webkit-transition-delay: 5s;
                        transition-delay: 5s;
                    }
                }
            }

            .el-5 {
                -webkit-transition-delay: 6.25s;
                transition-delay: 6.25s;

                .circle {
                    -webkit-transition-delay: 6.7s;
                    transition-delay: 6.7s;
                }

                .line {
                    -webkit-transition-delay: 6.25s;
                    transition-delay: 6.25s;

                    &::after {
                        -webkit-transition-delay: 6.25s;
                        transition-delay: 6.25s;
                    }
                }
            }

            .el-6 {
                -webkit-transition-delay: 7.5s;
                transition-delay: 7.5s;

                .circle {
                    -webkit-transition-delay: 7.95s;
                    transition-delay: 7.95s;
                }

                .line {
                    -webkit-transition-delay: 7.5s;
                    transition-delay: 7.5s;

                    &::after {
                        -webkit-transition-delay: 7.5s;
                        transition-delay: 7.5s;
                    }
                }
            }
        }
    }
}

.technology {
    padding-top: 100px;

    .content {
        text-align: right;
        font-weight: 800;
        height: 100%;
        width: 80%;
        float: right;

        .stitle {
            font-size: 1.5rem;
            font-family: "iCiel Gotham Medium";
            text-transform: uppercase;
            color: #d71920;
            line-height: 2rem;
            margin-bottom: 15px;
        }

        .sdes {
            font-weight: 300;
            font-size: 1rem;
            color: #58595b;
            line-height: 1.6rem;
            margin-left: 20%;
        }
    }
}

.map {
    text-align: center;
    position: relative;
    margin-top: -10rem;

    img {
        max-width: 100%;
        height: auto;
    }

    .head {
        position: absolute;
        left: 40%;
        top: 35%;
        text-align: left;
        opacity: 1;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);

        .title {
            font-size: 24px;
            color: #ce181e;
            line-height: 1.2;
            margin-top: 15px;
            text-align: left;
        }

        .subtitle {
            font-weight: 300;
            font-size: 16px;
            color: #1e1e1e;
            line-height: 25px;

            b {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .content {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: #1e1e1e;
        position: absolute;
        left: 50%;
        top: 63%;
        text-align: left;
        line-height: 35px;

        .text {
            opacity: 1;
            -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
        }

        b {
            font-weight: 700;
            font-size: 30px;
        }

        span {
            font-weight: 500;
        }

        .line {
            position: absolute;
            height: 2px;
            width: 14%;
            background: #d71920;
            left: 5px;
            top: -76%;
            opacity: 1;

            &::after {
                content: "";
                position: absolute;
                width: 13px;
                height: 13px;
                border: solid 2px #d71921;
                top: 38px;
                right: -6px;
                border-radius: 50%;
            }

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 2px;
                background-color: #d71920;
                height: 38px;
            }
        }
    }

    .background {
        padding-bottom: 100%;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.map.active {
    .head {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.75s ease 0.5s;
        transition: all 0.75s ease 0.5s;
    }

    .content {
        .text {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: all 0.75s ease 1.25s;
            transition: all 0.75s ease 1.25s;
        }

        .line {
            opacity: 1;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
    }
}

@media (max-width: 1100px) {
    .map {
        .head {
            .title {
                margin-top: 5px;
            }
        }

        .content {
            .line {
                top: -40%;
            }
        }
    }
}

@media (max-width: 878px) {
    .map {
        .head {
            top: 15%;
        }
    }
}

@media (max-width: 767px) {
    .d-mobile {
        display: none !important;
    }

    .d-desktop {
        display: block;
    }

    .history {
        .timeline {
            height: auto;
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
            display: initial;

            .block-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            .disapear {
                opacity: 0;
            }

            .circle-container {
                -ms-flex-preferred-size: 130px;
                flex-basis: 140px;
                position: relative;
                padding: 20px 15px;

                .flex-right {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                }

                .line {
                    &::before {
                        content: "";
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: solid 2px #1e1e1e;
                        display: inline-block;
                        position: absolute;
                        left: -27px;
                        top: calc(50% - 7px);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #1e1e1e;
                        width: 44px;
                        height: 2px;
                        left: -14px;
                        top: calc(50% - 1px);
                    }
                }

                .circle {
                    position: relative;
                    left: auto;

                    img {
                        max-height: 100%;
                        overflow: hidden;
                    }
                }
            }

            .circle-container.disapear {
                .circle {
                    width: 0;
                    height: 0;
                }
            }

            .year {
                padding-right: 10px;
                -ms-flex-preferred-size: 80px;
                flex-basis: 33%;
            }

            .text {
                font-size: 20px;
                -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
                padding: 20px 0 20px 15px;
            }

            .block {
                height: auto;
                -ms-flex-preferred-size: 40px;
                flex-basis: 40px;
            }

            .block.normal {
                height: 75px;
            }
        }
    }

    .technology {
        padding: 0;

        .content {
            width: 100%;
        }
    }

    .map {
        margin-top: 0;

        .head {
            left: 2%;
            bottom: 45%;
            top: auto;
            width: 80%;
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);

            .title {
                font-size: 36px;
                margin-top: 0;
            }

            .subtitle {
                font-size: 30px;
                line-height: 40px;
            }
        }

        .content {
            left: 7%;
            font-size: 24px;
            top: 58%;

            b {
                font-size: 48px;
            }

            .text {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .line {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .history {
        .header {
            .title {
                font-size: 1.5rem;
            }

            .subtitle {
                font-size: 20px;
                margin-top: 10px;
            }
        }

        .timeline {
            .text {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

@media (max-width: 500px) {
    .history {
        .timeline {
            .text {
                font-size: 13px;
                line-height: 18px;
            }

            .circle-container {
                -ms-flex-preferred-size: 96px;

                .line {
                    &::after {
                        width: 35px;
                    }
                }

                .circle {
                    width: 75px;
                    height: 75px;

                    img {
                        max-width: 50%;
                        left: 25%;
                    }
                }
            }

            .year {
                font-size: 1.6rem;
                line-height: 1;
            }
        }
    }

    .map {
        .head {
            width: 95%;
            padding-right: 5%;

            .title {
                font-size: 25px;
                font-size: 20px;
            }

            .subtitle {
                font-size: 20px;
                line-height: 1.5;
                font-size: 14px;
            }
        }

        .content {
            font-size: 20px;
            font-size: 14px;
            line-height: 1.5;

            b {
                font-size: 30px;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 320px) {
    .history {
        .timeline {
            .text {
                font-size: 12px;
                line-height: 16px;
            }

            .circle-container {
                -ms-flex-preferred-size: 96px;
                flex-basis: 96px;

                .circle {
                    width: 60px;
                    height: 60px;
                }

                .line {
                    &::after {
                        width: 47%;
                    }
                }
            }

            .year {
                -ms-flex-preferred-size: 60px;
                flex-basis: 60px;
                font-size: 1rem;
            }
        }
    }
}