.blog-section {
    background-image: url('../img/blog/bg.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 60px 0!important;
    .blog {
        img {
            opacity: 1;
            transition: all 0.3s ease-in-out 0s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            box-shadow: 0 5px 20px #cecece;
            background: #ffffff;
            .thumb {
                img {
                    opacity: 0.4;
                }
            }
            .text {
                .title {
                    a {
                        color: #d71921;
                    }
                }
            }
        }
    }
}

.news-section {
    .row div {
        &:nth-child(odd) .blog {
            display: flex;
            flex-direction: column;
            // .text{
            //     display: flex;
            //     justify-content: flex-end;
            // }
        }
        &:nth-child(even) .blog {
            display: flex;
            flex-direction: column-reverse;
            // .text{
            //     display: flex;
            //     justify-content: flex-start;
            // }
        }
    }
    .blog {
        height: 100%;
        background: #fff;
        transition: all 0.2s ease-in-out 0s;
        .thumb {
            img {
                opacity: 1;
                transition: all 0.2s ease-in-out 0s;
            }
        }
        &:hover {
            box-shadow: 0 5px 20px #cecece;
            background: #d72126;
            .thumb {
                img {
                    opacity: 0.4;
                }
            }
            .text {
                // height: 100%;
                .title {
                    a {
                        color: #fff;
                    }
                }
            }
            .des {
                color: #fff;
            }
        }
        .text {
            height: 100%;
            .title a {
                height: auto;
            }
            // flex-direction: column;
            // justify-content: flex-end;
        }
    }
}

.blog {
    .propor {
        background-color: #d67a81;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding-bottom: 76%;
        .thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: auto;
            background-repeat: no-repeat;
            cursor: pointer;
            background-position: center;
        }
    }
    &.seven-reason {
        .text {
            padding: 16px 35px;
            .title {
                font-size: 25px;
                line-height: 1.4;
                font-family: 'iCiel Gotham Bold';
                color: #302f2f;
                margin-bottom: 15px;
                a {
                    /* autoprefixer: off */
                    -moz-box-orient: vertical;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    /* autoprefixer: on */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }
        }
    }
    .text {
        text-align: center;
        padding: 16px 15px;
        .title {
            font-size: 20px;
            line-height: 1.4;
            font-family: 'iCiel Gotham Medium';
            color: #302f2f;
            margin-bottom: 15px;
            a {
                color: #302f2f;
                text-decoration: none;
                /* autoprefixer: off */
                -moz-box-orient: vertical;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                /* autoprefixer: on */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                height: 80px;
                &:hover {
                    color: #d71921;
                }
            }
        }
        .des {
            font-size: 16px;
            line-height: 1.6;
            color: #606060;
            font-family: 'iCiel Gotham Book';
            -moz-box-orient: vertical;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 7;
            line-clamp: 7;
        }
        .date {
            font-size: 0.75rem;
            line-height: 1.3;
            color: #606060;
            font-family: 'iCiel Gotham Book';
            span {
                color: #d71921;
                text-transform: uppercase;
                font-family: 'iCiel Gotham Medium';
            }
        }
    }
}

.blog-pagination {
    .page-item {
        margin-right: 1rem;
        &:last-child {
            margin: 0;
        }
        &.active {
            .page-link {
                background-color: #d71921;
                color: #ffffff;
                font-family: 'iCiel Gotham Bold';
                border-radius: 50%;
            }
        }
        .page-link {
            border: none;
            font-size: 16px;
            color: #a6a6a6;
            font-family: 'iCiel Gotham Medium';
            padding: 0;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            &:hover {
                background-color: #d71921;
                color: #ffffff;
            }
        }
    }
}

.blog-carousel {
    .item {
        margin: 50px 0;
    }
    /*
    .owl-nav{
        position: absolute;
        top: 30%;
    }
*/
    .blog {
        width: 95%;
        margin: auto;
        &:hover {
            box-shadow: 0 2px 10px #cecece;
            .thumb {
                img {
                    opacity: 0.4;
                }
            }
            .text {
                .title {
                    a {
                        color: #d71921;
                    }
                }
            }
        }
    }
    /*
    .icon-next{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/blog/slide-button-left.png');
    }
    .icon-prevew{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/blog/slide-button-right.png');
    }
    */
}

.viewmore {
    position: relative;
    .blog-nav {
        .slide-left,
        .slide-right {
            position: absolute;
            top: calc(50% - 25px);
            z-index: 2;
            &:hover {
                cursor: pointer;
            }
        }
        .slide-left {
            left: 5%;
        }
        .slide-right {
            right: 5%;
        }
    }
}

.article {
    .head {
        text-align: center;
        width: 100%;
        margin: auto;
        .sub-title {
            font-size: 40px;
            line-height: 150%;
            font-family: 'iCiel Gotham Bold';
            color: #000;
            margin-bottom: 20px;
        }
        .datetime {
            color: #707070;
            font-size: 14px;
            line-height: 150%;
        }
    }
    .content {
        padding: 40px 0;
        margin: auto;
        img {
            padding: 50px 0;
            width: 100%;
            margin: auto;
        }
        p {
            width: 100%;
            max-width: 666px;
            margin: auto;
            font-family: 'iCiel Gotham Book';
            line-height: 160%;
            margin-bottom: 15px;
        }
        .outer-like {
            width: 100%;
            max-width: 666px;
            margin: 0 auto;
        }
    }
}

.video-section {
    .video-wrapper {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    // .video-info{
    //     margin: 40px 0;
    //     border-radius: 10px;
    //     background-size: 100%;
    //     background-position: 50% 50%;
    //     -webkit-filter: grayscale(100%);
    //     filter: grayscale(100%);
    //     opacity: .8;
    //     &:hover{
    //         cursor: pointer;
    //         opacity: 1;
    //         -webkit-filter: none;
    //         filter: none;
    //     }
    // }
}

#blog-others-news img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.utilities-section {
    .head {
        .sub-title {
            color: #fff;
            font-family: 'iCiel Gotham Bold';
            background-color: #d81920;
            font-size: 22px;
            padding: 15px 25px;
            border-radius: 20px;
        }
    }
    .conversion {
        padding: 45px 25px 10px 15px;
        margin: 20px 0;
        border: 1px solid #d81920;
        border-radius: 20px;
        margin-top: -13px;
        .bd-right::before {
            content: '';
            height: 90%;
            width: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: #b2b2b2;
        }
    }
    .box {
        .water {
            background-color: #d67a81;
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 52%;
            .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            i.icon {
                position: absolute;
                z-index: 2;
                right: -20px;
                bottom: -10px;
            }
        }
        .text {
            text-align: center;
            width: 90%;
            margin: auto;
            h5 {
                color: #d71921;
                text-transform: uppercase;
                font-family: 'iCiel Gotham Bold';
                font-size: 24px;
            }
            p {
                color: #616161;
                font-family: 'iCiel Gotham Book';
                font-size: 14px;
                margin: 0;
            }
        }
    }
    .water-used {
        padding: 30px;
        border-radius: 15px;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(245, 245, 245, 1) 100%);
        .both {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 100%;
            .thumb {
                border: 1px solid #000;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: 10%;
                }
            }
        }
        .text {
            text-align: center;
            width: 90%;
            margin: auto;
            p {
                color: #d71921;
                text-transform: uppercase;
                font-family: 'iCiel Gotham Bold';
                font-size: 16px;
                line-height: 160%;
            }
        }
        .infos {
            background: #d71921;
            text-align: center;
            position: relative;
            padding: 5px 0;
            .texts {
                padding: 20px;
                border-top: 1px dashed #fff;
                border-bottom: 1px dashed #fff;
                p {
                    color: #fff;
                    font-family: 'iCiel Gotham Medium';
                    text-transform: none;
                    font-size: 18px;
                    margin-bottom: 0;
                    line-height: 160%;
                }
            }
            .arrow-right {
                position: absolute;
                top: 0;
                left: 0;
                width: 0px;
                height: 0px;
                border-top: 55px solid transparent;
                border-bottom: 55px solid transparent;
                border-left: 40px solid #f6f6f6;
            }
            .arrow-left {
                position: absolute;
                top: 0;
                right: 0;
                width: 0px;
                height: 0px;
                border-top: 55px solid transparent;
                border-bottom: 55px solid transparent;
                border-right: 40px solid #f6f6f6;
            }
        }
        hr {
            margin-top: 1rem;
            margin-bottom: 2rem;
            border: 0;
            border-top: 3px solid #d71921;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-color: #d71921;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                top: -9px;
                left: -10px;
            }
            &::after {
                position: absolute;
                content: "";
                background-color: #d71921;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: inline-block;
                top: -9px;
                right: -10px;
            }
        }
    }
    .calculate {
        padding-left: 120px;
        position: relative;
        &::before {
            position: absolute;
            content: url('../img/wc/Group50.png');
            display: inline-block;
            top: 35%;
            left: 0;
        }
        .thumb {
            text-align: center;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .infomation {
        text-align: center;
        color: #616161;
        font-family: 'iCiel Gotham Book';
        p {
            margin-bottom: 0;
            font-size: 16px;
        }
        .big {
            font-family: 'iCiel Gotham Bold';
            font-size: 48px;
        }
        .more {
            text-transform: uppercase;
            .price1 {
                font-family: 'iCiel Gotham Bold';
                font-size: 18px;
                color: #616161;
            }
            .price2 {
                font-family: 'iCiel Gotham Bold';
                font-size: 28px;
                color: #d81920;
            }
        }
    }
    .list-tip {
        .tip {
            margin: 10px;
            width: 16%;
            .box-tip {
                width: 100%;
                height: auto;
                position: relative;
                padding-top: 100%;
                .thumbs {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 15%;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    background-color: #fff;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .text {
                color: #606060;
                font-family: 'iCiel Gotham Book';
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}