.footer {
    background: #d72127;
    color: #fff;
    width: 100%;
}

.top-footer {
    padding: 80px 0 50px 0;
}

.top-footer dl dt {
    font-family: 'iCiel Gotham Medium';
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 30px;

}

.top-footer dl dd {
    margin-bottom: 0.875rem;
    font-family: "iCiel Gotham Book";
    font-size: 0.875rem;
}

.top-footer dl dd a {
    color: #fff;
    font-weight: normal;
    font-size: 0.875rem;
}

.top-footer dl dd address {
    margin: 25px 0;
}

.choose-site {
    color: #fff;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #eb9093;
    background: none;
    height: 40px;
    padding: 0;
    line-height: 40px;
    /* autoprefixer: off */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* autoprefixer: on */
    background: url(../img/carret-w.png) no-repeat 97% 52%;
    padding-right: 5px;
}

.choose-site option {
    color: #000;
}

.choose-site:focus {
    background: none;
    outline: none;
}

.bottom-footer {
    padding: 40px 0;
    border-top: 1px solid #eb9093;
    font-family: "iCiel Gotham Book";
    font-size: 0.875rem;
}

.bottom-footer p {
    margin-bottom: 0;
    margin-top: 0px;
    line-height: 25px;
}

.outer-social {
    margin: 0 0 0 auto;
}

.outer-social ul {
    margin: 0 0 0 10px;
    list-style: none;
    display: inline-block;
    padding: 0;
}

.outer-social li {
    margin-left: 5px;
    display: inline-block;
}

.outer-social li a {
    transition: all 0.2s ease-in-out 0s;
    font-size: 1.75rem;
    border-radius: 50%;
    display: block;
    height: 52px;
    width: 52px;
    line-height: 56px;
    text-align: center;
    background: #fff;
    color: #606060;
}

.outer-social li a.ins:hover {
    background-image: linear-gradient(to right top, #ffdc86, #ffa876, #ff7488, #d255ab, #6c55c7);
    color: #fff;
}

.outer-social li a.face:hover {
    background: #375597;
    color: #fff;
}

.outer-social li a.youtobe:hover {
    background: #f70000;
    color: #fff;
}

.outer-social li a.linkedin:hover {
    background: #0271ae;
    color: #fff;
}

.address,
.phone,
.mail {
    line-height: 25.7px;
    display: block;
    padding-left: 25px;
    position: relative;
}

.address i,
.phone i,
.mail i {
    left: 0;
    top: 5px;
    position: absolute;
}