.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 2px #ccc;
    z-index: 999;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 0.875rem;
    background: #fff;
}

.logo img {
    width: 170px;
    padding: 11px 0;
}

.nav>ul {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>ul>li {
    padding: 0 25px;
    position: relative;
}

.nav>ul>li>a {
    padding: 39px 0;
    font-family: 'iCiel Gotham Medium';
    display: block;
    position: relative;
    font-weight: 500;
    color: #000;
    transition: all 0.2s ease-in-out 0s;
}

.nav>ul>li>a:after {
    position: absolute;
    left: 0;
    bottom: 30px;
    height: 1px;
    width: 0;
    content: "";
    background: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.nav>ul>li.active>a:after,
.nav>ul>li:hover>a:after {
    width: 100%;
    background: #d72127;
}

.nav>ul>li:hover a,
.nav>ul>li.active a {
    text-decoration: none;
}

.nav>ul>li.has-sub>a:before {
    content: "";
    background: url(../img/carret.png) 0 0 no-repeat;
    position: absolute;
    width: 8px;
    height: 5px;
    right: -13px;
    top: 50%;
    margin-top: -2px;
}

.nav>ul>li:hover .sub-menu {
    display: block;
}

.nav-right>li {
    position: relative;
}

.nav-right>li:hover .sub-menu {
    display: block;
    left: auto;
    right: 0;
}

.nav-right>li:hover .sub-menu a {
    line-height: 1.1;
    &:hover {
        text-decoration: none;
    }
}

.nav-right>li.cart {
    .sub-menu {
        width: 480px;
        padding: 0;
        line-height: 1.1;
    }
}

.nav-right .payment-list .cart .products ul li {
    padding-left: 0;
}

.nav-right .payment-list .cart .products ul li .thumb-icon {
    margin-left: auto;
}

.nav-right .payment-list .cart .products ul li .thumb-icon a {
    padding: 0!important;
    color: #666!important;
    &:hover {
        color: #d72127!important;
        background: none!important;
    }
}

.outer-btn-sub {
    text-align: center;
    a {
        display: inline-block!important;
        margin: 0 5px;
        width: 40%;
        text-align: center;
        vertical-align: middle;
        line-height: 1.8!important;
        &.btn-add {
            color: #fff;
        }
    }
}

.sub-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 270px;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
}

.sub-menu a {
    display: block;
    color: #666;
    padding: 15px 30px;
}

.sub-menu a.active,
.sub-menu a:hover {
    background: #d72127;
    color: #fff;
}

.nav-right {
    margin: 0;
    display: flex;
    list-style: none;
    line-height: 100px;
    padding-left: 0;
}

.nav-right li {
    padding-left: 20px;
}

.nav-right .lang select {
    border: 0;
    font-family: 'iCiel Gotham Medium';
    padding-left: 10px;
    /* autoprefixer: off */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* autoprefixer: on */
    background: url(../img/carret.png) no-repeat 100% 50%;
    padding-right: 10px;
}

.nav-right li.lang {
    padding-left: 0;
}

.nav-right .lang select:focus {
    outline: none;
    border: 0;
    background: none;
}

.nav-right li.cart {
    position: relative;
}

.buget {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d72127;
    line-height: 16px;
    text-align: center;
    font-size: 0.55rem;
    color: #fff;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -12px;
}

.inner-cart {
    position: relative;
    display: inline-block;
}

@media (max-width: 1440px) {
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1280px) {
    .logo img {
        width: 120px;
        padding: 22px 0;
    }
}

@media (max-width: 1024px) {
    .header {
        padding-left: 0px;
        padding-right: 0px;
    }
}