.fullmenu {
    position: static !important;

    .sub-menu {
        width: 100%;
    }
}

.m-products {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    .m-group {
        li {
            border-bottom: 1px solid #f4f4f4;

            &:last-child {
                border-bottom: 0
            }
        }

        .m-cate {
            font-family: 'iCiel Gotham Bold';
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            margin-right: 100px;
            width: 250px;

            p.m-name {
                font-size: 16px;
                font-family: 'iCiel Gotham Bold';
                color: #302f2f;
            }

            .btn-cate {
                background-color: #d71921;
                text-transform: uppercase;
                color: #fff;
                border-radius: 20px;
                padding: 5px 25px;
                display: inline-block;
                font-size: 14px;
            }
        }

        .m-list {
            li {
                float: left;
                margin-right: 80px;
                min-width: 125px;
                text-align: center;
                border: 0;

                &:last-child {
                    margin-right: 0;
                }
            }

            p {
                margin-bottom: 0;
            }

            .m-item {
                max-width: 300px;
                text-align: center;
                font-size: 14px;
                border-bottom: 3px solid transparent;

                &:hover {
                    border-bottom: 3px solid #d71921;
                }

                .m-product {
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 90%;

                    a.thumb {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-color: #fff;
                        border-radius: 8px;
                        cursor: pointer;
                    }
                }

                .m-code {
                    color: #d71921;
                    font-family: 'iCiel Gotham Bold';
                }

                .m-name {
                    color: #606060;
                    font-family: 'iCiel Gotham Medium';
                }
            }
        }
    }
}

.parameter-section {
    .openitem {

        /*
        position: static;
        width: auto;
        flex-grow: 1;
        display: inline-block;
        margin-bottom: 30px;
         */
        &.active {
            margin-bottom: 0;

            &::after {
                /*
                content: "";
                font-size: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 20px 20px 20px;
                border-color: transparent transparent #e9e9e9 transparent;
                top: -10px;
                left: calc(50% - 20px);
                */
                position: relative;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            .box-info {
                display: block;
                opacity: 1;
            }
        }

        .box {
            .big-thumb {
                background-color: #f5f4f6;
                width: 100%;
                height: auto;
                position: relative;
                overflow: hidden;
                padding-bottom: 111.12%;

                .thumbnail {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: auto;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-position: center;
                }

                .list {
                    position: absolute;
                    top: 5%;
                    right: 5%;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .item {
                                background-color: #fff;
                                max-width: 60px;
                                max-height: 60px;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .small-thumb {
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    bottom: 15%;
                    right: 5%;
                    transition: all 0.25s ease-in-out 0s;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid #d82127;
                    }
                }

                .small-filter-name {
                    font-family: 'iCiel Gotham Medium';
                    z-index: 2;
                    position: absolute;
                    opacity: 0;
                    width: 120px;
                    height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 12px;
                    bottom: 13%;
                    right: 5%;
                    transition: all 0.25s ease-in-out 0s;
                }

                .code {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    z-index: 2;
                    height: 60px;
                    line-height: 60px;

                    a {
                        color: #d72127;
                        font-family: 'iCiel Gotham Bold';
                        font-size: 25px;
                        text-decoration-line: none;
                        text-align: center;
                        width: 100%;
                        display: block;

                        &::before,
                        &::after {
                            background-color: #d72127;
                            content: "";
                            display: inline-block;
                            height: 1px;
                            position: relative;
                            vertical-align: middle;
                            width: 15%;
                        }

                        &::before {
                            right: 2rem;
                            margin-left: -50%;
                        }

                        &::after {
                            left: 2rem;
                            margin-right: -50%;
                        }

                        & span {
                            text-align: center;
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        a::before,
                        a::after {
                            background-color: #fff;
                        }
                    }
                }

                &:hover {
                    .code {
                        a {
                            color: #fff;
                            background-color: #d72127;
                        }

                        a::before,
                        a::after {
                            background-color: #fff;
                        }
                    }

                    .small-thumb {
                        opacity: 1;
                    }

                    .small-filter-name {
                        opacity: 1;
                    }
                }
            }

            .contents {
                text-align: center;
                padding: 3em;

                .name {
                    font-family: 'iCiel Gotham Bold';
                    font-size: 18px;
                    color: #000000;
                }

                .price {
                    font-size: 16px;
                    font-family: 'iCiel Gotham Medium';
                    color: #666;
                    margin: 0.2rem 0;
                }

                .note {
                    font-size: 12px;
                    color: #666666;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .box-info {
            z-index: 10;
            display: none;
            opacity: 0;
            background: #e9e9e9;
            position: absolute;
            left: 0;
            right: 0;
            overflow: auto;
            padding: 3rem 0;
            margin-top: 1.5rem;
            transition: all 0.25s ease-in-out 0s;

            .video-wrapper {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                margin-bottom: 1rem;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .video-info {
                .title {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: #000;

                    span {
                        color: #d72127;
                    }
                }

                .detail {
                    font-size: 1.1rem;
                    font-weight: 800;
                    color: #000;
                }

                .list {
                    list-style: none;
                    padding: 0;

                    li {
                        font-size: 1rem;
                        font-weight: 600;
                        color: #666666;
                        margin-bottom: 1rem;

                        i {
                            margin-right: 1rem;
                        }
                    }
                }

                .btn-add {
                    border-radius: 30px;
                    transition: all 0.2s ease-in-out 0s;
                    display: inline-block;
                    height: 60px;
                    border: 2px solid #d72127;
                    line-height: 56px;
                    padding: 0 40px;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    background: #d72127;
                    color: #fff;
                }

                .btn-detail {
                    border-radius: 30px;
                    transition: all 0.2s ease-in-out 0s;
                    display: inline-block;
                    height: 60px;
                    border: 2px solid #d72127;
                    line-height: 56px;
                    padding: 0 40px;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    color: #d72127;
                    color: #000;
                }
            }
        }
    }

    .banner-products {
        img {
            width: 100%;
        }
    }
}

.buy-section {
    background-color: #f5f5f5;

    .art-pro {
        &:hover {
            cursor: pointer;
        }

        .des {
            &:hover {
                cursor: pointer;
            }
        }
    }
}


//popup


.m-header {
    position: relative;

    .product-name {
        text-align: center;
        font-family: 'iCiel Gotham Medium';
        font-size: 25px;
        line-height: 33px;
        color: #000;

        span {
            color: #d71921
        }

        margin: 30px 0
    }

    .close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        line-height: 33px;
        font-family: 'Gilroy';
        font-weight: 200;
    }

}

.shoping {
    padding: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #f4f4f4;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .shead {
        color: #000;
        font-family: 'iCiel Gotham Medium';
        font-size: 18px;
        line-height: 28px;
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .slogo {
        max-width: 100px;
    }

    .stitle {
        color: #606060;
        font-family: 'iCiel Gotham Book';
        font-size: 16px;
        line-height: 30px;
    }

    .buy {
        width: 180px;
        text-align: right;

        .btn-buy {
            background-color: #d71921;
            text-transform: uppercase;
            color: #fff;
            border-radius: 20px;
            padding: 5px 25px;
        }
    }
}

.navbar-noborder {
    border: 0
}

.cate-title {
    color: #000;
    font-size: 40px;
    font-family: 'iCiel Gotham Bold';
}

.frm-review {
    background-color: #f5f5f5;
    padding: 20px 40px;

    h4 {
        font-size: 22px;
        font-family: 'iCiel Gotham Medium';
        color: #302f2f;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .frm-title {
        font-family: 'iCiel Gotham Bold';
        font-size: 16px;
        line-height: 22px;
        color: #000;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            font-family: 'iCiel Gotham Medium';
            color: #606060;
            font-size: 16px;
            line-height: 22px;
            padding-left: 20px;

            span {
                color: #d71921;
            }
        }
    }

    &::-webkit-input-placeholder {
        /* Edge */
        color: #606060;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #606060;
    }

    &::placeholder {
        color: #606060;
    }

    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAeUlEQVQImU3OsQ3CUAyE4S+EAShfxQqBFViAjnnIKkjQUTABMAE7MEE2AJ14D+Uan8+/bHebYYA1trilmWmPF94LrHDHFYcZFJ/sEWaJCScccUGHT/V9nU0Bo7HWwOfqAyVPpi+ltFPPWnfIS38oahubMszptv0nfAG08BMz0FblYgAAAABJRU5ErkJggg==')
        ;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
    }

    input.form-control,
    select.form-control {
        height: calc(2.5em + 1.25rem + 2px);
        padding: 0.625rem 1.25rem;
        border-radius: 2rem;
        border: 1px solid #f5f5f5;
    }

    textarea.form-control {
        padding: 0.625rem 1.25rem;
        border-radius: 2rem;
        border: 1px solid #f5f5f5;
    }

    input[type=checkbox]+label {
        color: #302f2f;
        font-family: 'iCiel Gotham Book';
        color: #606060;
        font-size: 16px;
        line-height: 22px;
        padding-left: 0;
    }
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: text-bottom;
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
        border-radius: 10%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: #696969;
      }

    input[type="checkbox"]:checked + *::before {
        content: '';
        background-color: #d71921;
        border-color: #d71921;
        background-image: url(../img/ecommerce/checked.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #d71921;
        background-color: #d71921;
    }

    .custom-lable {
        text-transform: uppercase;
        font-family: 'iCiel Gotham Medium';
        padding-top: calc(1.375rem + 1px);
    }

    .custom-label {
        text-transform: uppercase;
        font-family: 'iCiel Gotham Medium';
    }

    .custom-select {
        height: calc(2.5em + 1.25rem + 2px);
        padding: 0.625rem 1.25rem;
        border-radius: 2rem;
        border: 1px solid #f5f5f5;
    }

    .custom-control-label {
        font-family: 'iCiel Gotham Book';

        span {
            color: #a6a6a6;
        }
    }

}

#vote {
    font-family: "iCiel Gotham Bold";
    color: #666;
    font-size: 16px;
    line-height: 40px;
}

#ratingModal {
    .rating-body {
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        margin-top: 15px;
        padding: 7.5px;

        .stars-container {
            display: flex;
        }

        .star-item {
            color: #ccc;
            flex: 1;
            font-size: 25px;
            width: 30px;

            svg {
                width: 100%;
                height: 30px;
                padding: 5px;

                .cls-1 {
                    cursor: pointer;
                    fill: none;
                    stroke: #000;
                    stroke-miterlimit: 10;
                    transition: all 0.5s ease;
                }
            }

            &.active {
                svg {
                    .cls-1 {
                        fill: #d72127;
                        stroke: #d72127;
                    }
                }
            }
        }

    }

    #vote-slider {
        display: none;
        margin: 15px 0px;
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background: #d3d3d3;
        outline: none;
        /*opacity: 0.7;*/
        -webkit-transition: .2s;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #d72127;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #d72127;
            cursor: pointer;
        }
    }

}

p.by a {
    color: #f9a825;
    text-decoration: none;
}

