.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-top: 50px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.25rem;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    & a{
        color:#666 !important;
        text-decoration: none;
    }
}
.breadcrumb-item + .breadcrumb-item {padding-left: 0.5rem;
    font-size: 14px;
   
    & a{
        color:#666 !important;
        text-decoration: none;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
   width: 10px;
   height: 10px;
   margin-top: 5px;
   vertical-align: top;
    content: '' !important; 
    background: url(../img/angle-right-solid.svg) 0 0 no-repeat; background-size: contain;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #d72127 !important;
    font-family: 'iCiel Gotham Bold';
}

@media (max-width: 992px) {
    .breadcrumb {
        margin-top: 0px;
    }
}
