.payment-list {
    border-radius: 10px;
    &.bg-gray {
        background-color: #f5f5f5;
    }
    &.steps {
        .item {
            position: relative;
            .thumb {
                position: relative;
                width: 12% !important;
                padding-bottom: 12% !important;
                .thumb-img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info {
                .price {
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
            }
        }
    }
    .title {
        font-family: 'iCiel Gotham Bold';
        color: #000;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: left;
    }
    .cart {
        .products {
            ul {
                padding: 0;
                li {
                    margin-bottom: 30px;
                }
            }
            p {
                margin: 0;
            }
            .item {
                .thumb {
                    position: relative;
                    width: 20%;
                    padding-bottom: 20%;
                    .thumb-img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    p {
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .name {
                        font-family: 'iCiel Gotham Book';
                        color: #000;
                        font-size: 14px;
                    }
                    .code {
                        font-family: 'iCiel Gotham Bold';
                        color: #d72127;
                        font-size: 16px;
                    }
                    .price {
                        font-family: 'iCiel Gotham Bold';
                        color: #000;
                        font-size: 16px;
                        span {
                            font-family: 'iCiel Gotham Book';
                            color: #606060;
                            font-size: 12px;
                            &::after {
                                content: "x";
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }
        .prices {
            .item {
                .text {
                    font-family: 'iCiel Gotham Medium';
                    color: #707070;
                    font-size: 16px;
                }
                .value {
                    font-family: 'iCiel Gotham Bold';
                    color: #d70026;
                    font-size: 18px;
                    text-align: right;
                    &.free {
                        text-transform: uppercase;
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.payment-form {
    .frm-review {
        background: none;
        padding: 0;
        .form-control {
            color: #606060;
            font-family: 'iCiel Gotham Book';
        }
    }
    .note {
        a {
            font-family: 'iCiel Gotham Medium';
            color: #d70026;
            font-size: 14px;
        }
    }
    .titlearea {
        font-family: 'iCiel Gotham Book' !important;
        color: #000;
        font-size: 16px;
    }
}

.btn-cleansui {
    background: #d70026;
    color: #fff;
    text-transform: uppercase;
    font-family: 'iCiel Gotham Bold';
    font-size: 12px;
    padding: 15px 40px;
    border-radius: 30px;
    min-width: 180px;
    text-align: center;
    &:hover {
        color: #fff;
    }
}

.text-cleansui {
    font-family: 'iCiel Gotham Bold';
    font-size: 14px;
    color: #000;
}

.social {
    list-style: none;
    padding: 0;
    display: inline-block;
    li {
        float: left;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        a {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            justify-content: center;
            svg {
                fill: #fff;
            }
        }
    }
    .google {
        background: #db4639;
    }
    .facebook {
        background: #395196;
    }
}

.ptitle {
    font-family: 'iCiel Gotham Bold';
    font-size: 16px;
    color: #000;
    text-align: left;
}

.bank-img {
    max-width: 50px;
    display: inline-block;
    margin-right: 5px;
}

.pnote {
    margin-top: 20px;
    font-family: 'iCiel Gotham Book';
    font-size: 16px;
    line-height: 160%;
    color: #707070;
    text-align: left;
    padding: 0 30px 00;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 10px 0 0;
    input[type='radio'] {
        display: none;
    }
    input[type=radio]:checked+label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 4px;
        content: " ";
        display: block;
        background: #d70026;
    }
    input[type=radio]:checked+label::before {
        border: 1px solid #d70026;
    }
    label {
        color: #000;
        font-weight: normal;
        &::before {
            content: " ";
            display: inline-block;
            position: relative;
            top: 5px;
            margin: 0 5px 0 0;
            width: 20px;
            height: 20px;
            border-radius: 11px;
            border: 1px solid #302f2f;
            background-color: transparent;
        }
    }
}

.info-address {
    label {
        font-size: 16px;
        color: #707070;
        font-family: 'iCiel Gotham Book';
    }
    .form-group {
        margin-bottom: 0;
    }
    .form-control-plaintext {
        font-size: 16px;
        color: #000;
        font-family: 'iCiel Gotham Medium';
    }
}

.info-title {
    font-family: 'iCiel Gotham Bold';
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
}

.snote {
    margin-top: 20px;
    font-family: 'iCiel Gotham Book';
    font-size: 16px;
    line-height: 160%;
    color: #707070;
    text-align: left;
}

// cart
.prices {
    border-radius: 10px;
    &.bg-white {
        background: white;
    }
    .list {
        padding: 12px 15px;
        margin: 0;
        background: #d71921;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .text,
        .value {
            font-size: 14px;
            font-family: 'iCiel Gotham Medium';
        }
    }
    .sub-total {
        font-family: 'iCiel Gotham Medium';
        margin: 0;
        padding: 25px 15px;
        .text {
            font-size: 14px;
            color: #707070;
        }
        .value {
            font-size: 18px;
            color: #d71921;
        }
    }
}

.payment-action {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 20px;
    }
    a.btn {
        width: 100%;
    }
    .btn-find {
        background: #f5f5f5;
        border: 1px solid #d71921;
        color: #302f2f;
        text-transform: uppercase;
        font-family: 'iCiel Gotham Bold';
        font-size: 12px;
        padding: 15px 40px;
        border-radius: 30px;
        &:hover {
            background: #d70026;
        }
    }
}

.table {
    color: #302f2f;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'iCiel Gotham Medium';
    .thead-red th {
        color: #fff;
        background-color: #d70026;
        // border-color: #d70026;
        border-bottom: 0;
        text-align: left;
        &:first-child {
            border-radius: 10px 0 0 0;
        }
        &:last-child {
            border-radius: 0 10px 0 0;
        }
    }
    td,
    th {
        border-top: 1px solid #f5f5f5;
        vertical-align: middle;
    }
}

.e-cart {
    .pname {
        width: 40%;
    }
    .pnum {
        width: 20%;
    }
    .pprice {
        width: 20%;
    }
    .product-item {
        .product-thumb {
            width: 20%;
            padding-bottom: 20%;
            display: inline-flex;
            position: relative;
            .product-img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
            }
        }
        .product-detail {
            text-align: left;
            p {
                margin-bottom: 0px;
            }
            .product-name {
                font-family: 'iCiel Gotham Medium';
                color: #302f2f;
                font-size: 14px;
            }
            .product-code {
                font-family: 'iCiel Gotham Bold';
                color: #d72127;
                font-size: 16px;
            }
        }
    }
    .thumb-icon {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-grid;
        .product-delete {
            position: absolute;
            width: 100%;
            height: 100%;
            svg {
                width: 100%;
                fill: #a6a6a6;
            }
            &:hover {
                svg {
                    width: 100%;
                    fill: #d72127;
                }
            }
        }
    }
    .product-init {
        input {
            border: 1px solid #ebebeb;
            font-size: 12px;
        }
    }
    .btn-outline-secondary {
        color: #302f2f;
        border-color: #ebebeb;
        background: #f9f9f9;
        font-size: 12px;
        min-width: 1.75rem !important;
    }
}

.oldaddress,
.newaddress {
    display: none;
    &.show {
        display: block !important;
    }
}

.box-search {
    max-width: 70%;
    margin: auto;
    .input-search {
        border: 1px solid #dcdcdc;
        box-shadow: 0px 2px 10px #eaeaea;
        border-radius: 1.825rem;
        height: calc(1.5em + 1.75rem + 2px);
        padding: .375rem .75rem;
        .form-control {
            outline: none!important;
            border: 0;
            color: #a6a6a6;
            &:focus {
                outline: none!important;
                box-shadow: none;
            }
        }
        .input-group-text {
            border: 0;
            background: none;
        }
    }
    .list-search {
        .search-title {
            font-size: 20px;
            font-family: 'iCiel Gotham Bold';
            color: #302f2f;
        }
        ul {
            list-style: none;
            padding: 0;
        }
    }
    .list-search {
        .products {
            ul {
                li {
                    padding: 15px 10px;
                    &:nth-child(odd) {
                        background: #f5f5f5;
                    }
                }
            }
            .item {
                .thumb {
                    width: 15%;
                }
                .info {
                    .name {
                        color: #000000;
                        font-size: 16px;
                        font-family: 'iCiel Gotham Book';
                        span {
                            font-family: 'iCiel Gotham Bold';
                        }
                    }
                    .price {
                        font-family: 'iCiel Gotham Bold';
                        font-size: 20px;
                        color: #d72127;
                    }
                    .note {
                        color: #666666;
                        font-size: 12px;
                        font-family: 'iCiel Gotham Book';
                        font-style: italic;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
                .view-detail {
                    .btn-detail {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: 'iCiel Gotham Bold';
                    }
                }
            }
        }
    }
}