#slider-mobile {
    display: none;
}


#thumbs .item {
    margin-top: 30px;
    border: 3px solid #f5f4f6;
}

#thumbs .current .item {
    position: relative;
    margin-top: 30px;
    border: 3px solid #d7000f;

    &:after {
        content: "";
        font-size: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 20px 20px 20px;
        border-color: transparent transparent #d7000f transparent;
        top: -20px;
        left: calc(50% - 20px);
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

@media (max-width: 992px) {
    #slider-mobile {
        display: block;
    }

    #big {
        display: none;
    }

    #thumbs {
        display: none;
    }
}