.owl-carousel-1 .owl-dots {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    z-index: 2;
}

#sub-carousel {
    position: relative;
}

.sub-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: -30px !important;
    width: 100%;
    z-index: 2;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 5px;
    background: #eae7e4;
}

.owl-theme .owl-dots .owl-dot span:focus,
.owl-theme .owl-dots .owl-dot:focus {
    border: 0 !important;
    outline: none !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #d72127;
}

.owl-carousel-1 .owl-nav button:focus {
    border: 0 !important;
    outline: none !important;
}

.owl-carousel-1 .owl-nav button.owl-next {
    transition: all 0.25s ease-in-out 0s;
    overflow: hidden;
    text-indent: -999px;
    margin-top: -16px;
    right: 20px;
    top: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../img/icon-menu/nav-next-silver.png) center no-repeat;
    background-size: contain;
}

.owl-carousel-1 .owl-nav button.owl-prev {
    transition: all 0.25s ease-in-out 0s;
    overflow: hidden;
    margin-top: -16px;
    text-indent: -999px;
    left: 20px;
    top: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../img/icon-menu/nav-prev-silver.png) center no-repeat;
    background-size: contain;
}

.owl-carousel-1 .owl-nav button.owl-next:hover,
.owl-carousel-1 .owl-nav button.owl-prev:hover {
    background-color: transparent;
    opacity: 1;
}

.owl-carousel-1 .owl-nav button.owl-next:hover {
    background-image: url(../img/icon-menu/nav-next-silver-hover.png);
    transform: scale(1.2);
}

.owl-carousel-1 .owl-nav button.owl-prev:hover {
    background-image: url(../img/icon-menu/nav-prev-silver-hover.png);
    transform: scale(1.2);
}

/*owl-news*/
.owl-news {
    position: relative;
}

.owl-news .owl-dots {
    display: none;
}

.owl-news .owl-nav button.owl-next {
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    text-indent: -999px;
    margin-top: -26px;
    right: -150px;
    top: 50%;
    position: absolute;
    width: 52px;
    height: 52px;
    background: url(../img/icon-menu/nav-next.png) 0 0 no-repeat;
    background-size: contain;
}

.owl-news .owl-nav button.owl-prev {
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    margin-top: -26px;
    text-indent: -999px;
    left: -150px;
    top: 50%;
    position: absolute;
    width: 52px;
    height: 52px;
    background: url(../img/icon-menu/nav-prev.png) 0 0 no-repeat;
    background-size: contain;
}

.owl-news .owl-nav button.owl-next:hover,
.owl-carousel-1 .owl-nav button.owl-prev:hover {
    background-color: transparent;
    opacity: 1;
}

.owl-news .owl-nav button:focus {
    border: 0 !important;
    outline: none !important;
}

.owl-news .owl-nav button.owl-next:hover,
.owl-news .owl-nav button.owl-prev:hover {
    transform: scale(1.1);
}

.who-carousel {
    box-shadow: 0 0 15px #ddd;
    z-index: 1;
}

.who-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}

.bg-blue {
    background: url(../img/about/bgd-who.jpg) center center no-repeat;
    background-size: cover;
}

#big .owl-item img,
#thumbs .owl-item img {
    transition: all 0.15s ease-in-out 0s;
    opacity: 1;
}

#big .owl-item img:hover,
#thumbs .owl-item img:hover {
    opacity: 0.7;
}

.who-carousel .owl-nav button.owl-next {
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    text-indent: -999px;
    margin-top: -26px;
    right: 0;
    top: 50%;
    position: absolute;
    width: 52px;
    height: 52px;
    background: url(../img/icon-menu/nav-next.png) 0 0 no-repeat;
    background-size: contain;
    margin-right: -30px;
}

.who-carousel .owl-nav button.owl-prev {
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    margin-top: -26px;
    text-indent: -999px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 52px;
    height: 52px;
    background: url(../img/icon-menu/nav-prev.png) 0 0 no-repeat;
    background-size: contain;
    margin-left: -30px;
}

.who-carousel .owl-nav button.owl-next:hover,
.who-carousel .owl-nav button.owl-prev:hover {
    transform: scale(1.1);
}

.who-carousel .owl-nav button.owl-next:hover,
.who-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
    opacity: 1;
}

.who-carousel .owl-nav button:focus {
    border: 0 !important;
    outline: none !important;
}

.slider-for {
    margin-bottom: 15px;
    overflow: hidden;

    .item {
        &:focus {
            outline: none !important;
            border: 0 !important;
        }

        img {
            width: 100%;
            cursor: pointer;
        }
    }

}

.slider-nav {
    overflow: hidden;
    margin-left: -7.5px;
    margin-right: -7.5px;

    .item {
        &:focus {
            outline: none !important;
            border: 0 !important;
        }

        &.slick-current.slick-active {
            img {
                opacity: 1;
            }
        }

        img {
            opacity: 0.8;
            padding: 0 7.5px;
            display: block;
            cursor: pointer;
        }

        .slick-arrow {
            display: none;
        }

    }
}

.slider-info {
    padding-left: 50px;

    .sub-title {
        display: block;
        color: #000;
        font-family: 'iCiel Gotham Medium';
        font-size: 1.375rem;
        margin-bottom: 10px;
    }

    .title {
        font-size: 2.5rem;
    }

    .detail {
        font-size: 1.125rem;
        color: #000;
        font-family: "iCiel Gotham Bold";
    }

    .list {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;

        li {
            list-style: none;
            margin-bottom: 1rem;

            i {
                margin-right: 5px;
            }
        }
    }

    .price {
        margin-bottom: 2rem;

        strong {
            display: block;
            color: #d72127;
            font-size: 2.5rem;
            font-family: "iCiel Gotham Bold";
            line-height: 1;
        }
    }

    .btn-add {
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        display: inline-block;
        height: 60px;
        border: 2px solid #d72127;
        line-height: 56px;
        padding: 0 40px;
        text-transform: uppercase;
        font-size: 0.875rem;
        background: #d72127;
        color: #fff;
    }

    .btn-detail {
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        display: inline-block;
        height: 60px;
        border: 2px solid #d72127;
        line-height: 56px;
        padding: 0 40px;
        text-transform: uppercase;
        font-size: 0.875rem;
        color: #d72127;
        color: #000;
    }
}

@media (max-width: 992px) {
    .slider-info {
        margin-top: 30px;
        padding-left: 0px;

        .title {
            font-size: 32px;
        }

        .price {
            margin-bottom: 2rem;

            strong {

                font-size: 32px;

            }
        }

        .btn-add {

            padding: 0 20px;

        }

        .btn-detail {

            padding: 0 20px;

        }
    }
}


@media screen and (max-width: 1025px) {

    .owl-news .owl-nav button.owl-next,
    .owl-news .owl-nav button.owl-prev {
        position: static;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
}