.cs-products {
    .openitem {
        position: static;
        width: auto;
        flex-grow: 1;
        display: inline-block;
        margin-bottom: 30px;

        &.active {
            margin-bottom: 0;

            &::after {
                /*
                content: "";
                font-size: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 20px 20px 20px;
                border-color: transparent transparent #e9e9e9 transparent;
                top: -10px;
                left: calc(50% - 20px);
                */
                position: relative;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            .box-info {
                display: block;
                opacity: 1;
            }
        }

        .box {
            .big-thumb {
                background-color: #f5f4f6;
                width: 100%;
                height: auto;
                position: relative;
                overflow: hidden;
                padding-bottom: 111.12%;

                .thumbnail {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: auto;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-position: center;
                }

                .list {
                    position: absolute;
                    top: 5%;
                    right: 5%;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .item {
                                background-color: #fff;
                                max-width: 60px;
                                max-height: 60px;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .small-thumb {
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    bottom: 15%;
                    right: 5%;
                    transition: all 0.25s ease-in-out 0s;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid #d82127;
                    }
                }

                .small-filter-name {
                    font-family: 'iCiel Gotham Medium';
                    z-index: 2;
                    position: absolute;
                    opacity: 0;
                    width: 120px;
                    height: 40px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 12px;
                    bottom: 13%;
                    right: 5%;
                    transition: all 0.25s ease-in-out 0s;
                }

                .code {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    z-index: 2;
                    height: 60px;
                    line-height: 60px;

                    a {
                        color: #d72127;
                        font-family: 'iCiel Gotham Bold';
                        font-size: 25px;
                        text-decoration-line: none;
                        text-align: center;
                        width: 100%;
                        display: block;

                        &::before,
                        &::after {
                            background-color: #d72127;
                            content: "";
                            display: inline-block;
                            height: 1px;
                            position: relative;
                            vertical-align: middle;
                            width: 15%;
                        }

                        &::before {
                            right: 2rem;
                            margin-left: -50%;
                        }

                        &::after {
                            left: 2rem;
                            margin-right: -50%;
                        }

                        & span {
                            text-align: center;
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        a::before,
                        a::after {
                            background-color: #fff;
                        }
                    }
                }

                &:hover {
                    .code {
                        a {
                            color: #fff;
                        }

                        a::before,
                        a::after {
                            background-color: #fff;
                        }
                    }

                    .small-thumb {
                        opacity: 1;
                    }

                    .small-filter-name {
                        opacity: 1;
                    }
                }
            }

            .contents {
                text-align: center;
                padding: 3em;

                .name {
                    font-family: 'iCiel Gotham Medium';
                    font-size: 18px;
                    color: #000000;
                }

                .price {
                    font-size: 16px;
                    font-family: 'iCiel Gotham Medium';
                    color: #666;
                    margin: 0.2rem 0;
                }

                .note {
                    font-size: 12px;
                    color: #666666;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .box-info {
            z-index: 10;
            display: none;
            opacity: 0;
            background: #e9e9e9;
            position: absolute;
            left: 0;
            right: 0;
            overflow: auto;
            padding: 3rem 0;
            margin-top: 1.5rem;
            transition: all 0.25s ease-in-out 0s;

            .video-wrapper {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                margin-bottom: 1rem;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .video-info {
                .title {
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: #000;

                    span {
                        color: #d72127;
                    }
                }

                .detail {
                    font-size: 1.1rem;
                    font-weight: 800;
                    color: #000;
                }

                .list {
                    list-style: none;
                    padding: 0;

                    li {
                        font-size: 1rem;
                        font-weight: 600;
                        color: #666666;
                        margin-bottom: 1rem;

                        i {
                            margin-right: 1rem;
                        }
                    }
                }

                .btn-add {
                    border-radius: 30px;
                    transition: all 0.2s ease-in-out 0s;
                    display: inline-block;
                    height: 60px;
                    border: 2px solid #d72127;
                    line-height: 56px;
                    padding: 0 40px;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    background: #d72127;
                    color: #fff;
                }

                .btn-detail {
                    border-radius: 30px;
                    transition: all 0.2s ease-in-out 0s;
                    display: inline-block;
                    height: 60px;
                    border: 2px solid #d72127;
                    line-height: 56px;
                    padding: 0 40px;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    color: #d72127;
                    color: #000;
                }
            }
        }
    }

    .banner-products {
        img {
            width: 100%;
        }
    }
}

.cs-products .openitem .box:hover .contents .price {
    color: #d72127;
}

.cs-products .openitem .box .big-thumb .code:after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    content: "";
    background: #d72127;
    transition: all 0.25s ease-in-out 0s;
}

.cs-products .openitem .box .big-thumb:hover .code:after {
    top: 0;
}

.btn-add:hover {
    transform: translateY(-3px);
}

.btn-detail:hover {
    transform: translateY(-3px);
    background: #d72127;
    color: #fff !important;
}

@media (max-width: 768px) {
    .openitem {
        &.active {
            margin-bottom: 45rem;
        }
    }
}

.banner-products .owl-dots {
    margin-bottom: 40px;
}