@font-face {
    font-family: 'iCiel Gotham Bold';
    src: url('../fonts/iCielGotham-Bold.eot');
    src: url('../fonts/iCielGotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iCielGotham-Bold.woff2') format('woff2'),
        url('../fonts/iCielGotham-Bold.woff') format('woff'),
        url('../fonts/iCielGotham-Bold.ttf') format('truetype'),
        url('../fonts/iCielGotham-Bold.svg#iCielGotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iCiel Gotham Book';
    src: url('../fonts/iCielGotham-Book.eot');
    src: url('../fonts/iCielGotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iCielGotham-Book.woff2') format('woff2'),
        url('../fonts/iCielGotham-Book.woff') format('woff'),
        url('../fonts/iCielGotham-Book.ttf') format('truetype'),
        url('../fonts/iCielGotham-Book.svg#iCielGotham-Book') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iCiel Gotham Medium';
    src: url('../fonts/iCielGotham-Medium.eot');
    src: url('../fonts/iCielGotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iCielGotham-Medium.woff2') format('woff2'),
        url('../fonts/iCielGotham-Medium.woff') format('woff'),
        url('../fonts/iCielGotham-Medium.ttf') format('truetype'),
        url('../fonts/iCielGotham-Medium.svg#iCielGotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iCiel Gotham Light';
    src: url('../fonts/iCielGotham-Light.eot');
    src: url('../fonts/iCielGotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iCielGotham-Light.woff2') format('woff2'),
        url('../fonts/iCielGotham-Light.woff') format('woff'),
        url('../fonts/iCielGotham-Light.ttf') format('truetype'),
        url('../fonts/iCielGotham-Light.svg#iCielGotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy.eot');
    src: url('../fonts/Gilroy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy.woff2') format('woff2'),
        url('../fonts/Gilroy.woff') format('woff'),
        url('../fonts/Gilroy.ttf') format('truetype'),
        url('../fonts/Gilroy.svg#Gilroy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype'),
        url('../fonts/Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype'),
        url('../fonts/Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}