#section1 {
    .section-description {
        line-height: 30px;
        margin-bottom: 40px;
        max-width: 980px;
        margin: auto;
    }
    .component-block {
        background-color: #f6fbff;
        border-radius: 20px;
        padding: 18px 18px 15px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25), inset 0 0 6px 6px rgba(255, 255, 255, 0.5);
        display: inline-block;
        position: relative;
        opacity: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        height: 0;
        .line {
            position: absolute;
            background-color: #e6edf3;
            &:after {
                content: "";
                position: absolute;
                background-color: #e6edf3;
            }
            &:before {
                content: "";
                position: absolute;
                background-color: #e6edf3;
            }
        }
    }
    .component-title {
        font-family: 'iCiel Gotham Bold';
        font-size: 16px;
        color: #d71921;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 8px;
    }
    .component-container {
        position: relative;
    }
    .filter-background {
        background-image: url('../img/wc/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    .hollow-fiber {
        display: inline-block;
        text-align: center;
        padding-top: 40px;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
        h6 {
            font-size: 14px;
            font-family: 'iCiel Gotham Medium';
            color: #289dd8;
            text-transform: uppercase;
            margin: 0;
            line-height: 1;
        }
        h3 {
            font-family: 'Anton', sans-serif;
            font-size: 28px;
            color: #289dd8;
            text-transform: uppercase;
            margin: 5px 0 15px;
            line-height: 1;
        }
    }
    .component-1 {
        width: 28%;
        align-self: flex-end;
        margin: 0 5%;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transition-delay: 0.75s;
        transition-delay: 0.75s;
        .line {
            width: 300px;
            height: 2px;
            bottom: -35px;
            left: 50%;
            &:after {
                content: "";
                width: 2px;
                height: 50px;
                top: 0;
                right: 0;
            }
            &:before {
                content: "";
                width: 2px;
                height: 35px;
                bottom: 0;
                left: 0;
            }
        }
    }
    .component-2 {
        width: 57%;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
        .component-title {
            margin: 15px 0;
        }
        .number {
            border: solid 1px #289dd8;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            display: inline-block;
            font-size: 8px;
            text-align: center;
            line-height: 12px;
            margin-right: 6px;
            color: #289dd8;
            margin-left: 4px;
        }
        .line {
            width: 200px;
            height: 2px;
            bottom: -35px;
            left: calc(50% - 200px);
            &:after {
                content: "";
                width: 2px;
                height: 35px;
                bottom: 0;
                right: 0;
            }
            &:before {
                content: "";
                width: 2px;
                height: 50px;
                top: 0;
                left: 0;
            }
        }
    }
    .component-3 {
        width: 29%;
        align-self: flex-start;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transition-delay: 2.25s;
        transition-delay: 2.25s;
        img {
            margin-top: 8px;
        }
        .line {
            width: 2px;
            height: 160px;
            top: calc(50% - 80px);
            right: -45px;
            &:after {
                content: "";
                height: 2px;
                width: 45px;
                bottom: 0;
                right: 0;
            }
            &:before {
                content: "";
                height: 2px;
                width: 50px;
                top: 0;
                left: 0;
            }
        }
    }
    .component-4 {
        width: 29%;
        align-self: flex-start;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        -webkit-transition-delay: 3s;
        transition-delay: 3s;
        b {
            font-weight: 500;
            color: #231f20;
            margin-bottom: 5px;
            display: inline-block;
        }
        .component-title {
            margin-top: 8px;
            font-size: 14px;
        }
        .line {
            width: 2px;
            height: 105px;
            top: calc(50% - 40px);
            left: -45px;
            &:after {
                content: "";
                height: 2px;
                width: 50px;
                top: 0;
                right: 0;
            }
            &:before {
                content: "";
                height: 2px;
                width: 45px;
                bottom: 0;
                left: 0;
            }
        }
    }
    .component-5 {
        .text {
            line-height: 22px;
        }
        .component-title {
            color: #289dd8;
            margin: 30px 0 15px;
        }
        padding-right: 30px;
        border-right: solid 3px #e6edf3;
        text-align: right;
    }
    .component-6 {
        .text {
            line-height: 22px;
        }
        .component-title {
            color: #289dd8;
            margin: 30px 0 15px;
        }
        padding-left: 30px;
    }
    .component-7 {
        margin-top: 20px;
        margin-bottom: 50px;
        .component-title {
            color: #289dd8;
            margin: 40px 0;
            line-height: 22px;
            display: inline-block;
            background-color: #e6edf3;
            border-radius: 7px;
            padding: 10px 25px;
        }
        .left {
            b {
                font-size: 14px;
                color: #d71921;
                text-transform: uppercase;
                font-family: 'iCiel Gotham Bold';
            }
            .line {
                width: 2px;
                background-color: #d71920;
                top: calc(100% + 20px);
                position: absolute;
                right: 50px;
                height: 60px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 65px;
                    height: 2px;
                    background-color: #d71920;
                    top: 100%;
                    left: 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: solid 2px #d71920;
                    top: -10px;
                    left: calc(50% - 5px);
                }
            }
            text-align: right;
            -webkit-transform: translateX(65px);
            transform: translateX(65px);
        }
        .right {
            b {
                font-size: 14px;
                color: #d71921;
                text-transform: uppercase;
                font-family: 'iCiel Gotham Bold';
            }
            .line {
                width: 2px;
                background-color: #d71920;
                top: calc(100% + 20px);
                position: absolute;
                left: 50px;
                height: 80px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 65px;
                    height: 2px;
                    background-color: #d71920;
                    top: 100%;
                    right: 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: solid 2px #d71920;
                    top: -10px;
                    left: calc(50% - 5px);
                }
            }
            text-align: left;
            -webkit-transform: translate(-65px,
            -30px);
            transform: translate(-65px,
            -30px);
        }
    }
    #hollowFiberContainer.active {
        .hollow-fiber {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .component-1 {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            height: auto;
        }
        .component-2 {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            height: auto;
        }
        .component-3 {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            height: auto;
        }
        .component-4 {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            height: auto;
        }
    }
    .mb-footer {
        display: none;
    }
    #hollowFiberContainer {
        .mb {
            display: none;
            .item-box {
                border: 1px solid #fff;
                background-color: #f6fbff;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 2px 2px 6px 0 rgba(160, 151, 151, 0.75);
                margin-bottom: 20px;
                word-wrap: break-word;
                position: relative;
            }
            .hollow-fiber-mb {
                display: inline-block;
                text-align: center;
                padding-top: 20px;
                background-image: url('../img/wc/background-mb.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                margin-bottom: 30px;
                h6 {
                    font-size: 14px;
                    font-family: Avo, sans-serif;
                    color: #289dd8;
                    text-transform: uppercase;
                    margin: 0;
                    line-height: 1;
                }
                h3 {
                    font-family: Bebas, sans-serif;
                    font-size: 30px;
                    color: #289dd8;
                    margin: 5px 0 15px;
                    line-height: 1;
                }
            }
        }
    }
}

.certificate {
    .box {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding-bottom: 145%;
        box-shadow: 1px 1px 15px #e0e0e0;
        .thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: auto;
            background-repeat: no-repeat;
            cursor: pointer;
            background-position: center;
            background-size: cover;
        }
    }
    .text {
        text-align: center;
        font-size: 14px;
        font-family: 'iCiel Gotham Book';
        color: #000;
        margin: 0 30px;
    }
}

.w-title {
    color: #d81920;
    font-family: 'iCiel Gotham Bold';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.thumbnail {
    img {
        max-width: 100%;
    }
}

.list-tip.action {
    .tip {
        width: 22%;
        .thumbs {
            background-color: #ededed !important;
            border: 0 !important;
        }
        .text {
            text-align: center;
        }
    }
}

.pd2 {
    max-width: 900px;
    margin: auto;
    .s-text {
        font-family: 'iCiel Gotham Medium';
    }
}

.w-cleansui {
    background: rgb(253, 254, 254);
    background: linear-gradient(180deg, rgba(253, 254, 254, 1) 50%, rgba(238, 247, 250, 1) 100%);
    .box-top {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding-bottom: 40%;
        .b-thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .box-bottom {
        .box-left {
            width: 50%;
            background-image: url('../img/wc/technology/background-2.png');
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;
            .ws-thumb {
                padding: 10px;
                position: relative;
            }
            .ws-text {
                font-family: 'iCiel Gotham Bold';
                font-size: 16px;
                color: #d61920;
                margin-bottom: 0;
            }
        }
        .box-right {
            width: 50%;
            padding-left: 30px;
            .br-icon {
                width: 100%;
                height: auto;
                position: relative;
                overflow: hidden;
                padding-bottom: 100%;
                border: 2px solid #8b8d90;
                border-radius: 50%;
                background: #fff;
                .br-thumb {
                    position: absolute;
                    top: 10%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    img {
                        width: 60%;
                        object-fit: contain;
                        height: auto;
                    }
                }
                .br-title {
                    top: 65%;
                    position: absolute;
                    font-size: 8px;
                    margin: 0 15px;
                    font-family: 'iCiel Gotham Bold';
                    text-transform: uppercase;
                }
            }
        }
    }
}

.water-used {
    .box-top {
        padding-bottom: 20%;
    }
    .m-title {
        color: #616161;
        font-family: 'iCiel Gotham Bold';
        font-size: 16px;
        text-align: center;
        max-width: 80%;
        margin: auto;
    }
    .b-title {
        color: #616161;
        font-family: 'iCiel Gotham Bold';
        font-size: 28px;
        text-align: center;
        max-width: 80%;
        margin: auto;
    }
    .ws-title {
        color: #d81920;
        font-family: 'iCiel Gotham Bold';
        font-size: 20px;
        text-align: center;
        max-width: 80%;
        margin: auto;
        text-transform: uppercase;
        &.b-ws-title {
            font-size: 32px;
        }
    }
}

.block.utilities-section {
    .box.note {
        .water {
            padding-top: 52%;
        }
        .text {
            text-align: left;
        }
    }
}

@media (max-width: 1199px) {
    #section1 {
        .component-7 {
            .left {
                b {
                    font-size: 12px;
                }
                .line {
                    height: 50px;
                }
            }
            .right {
                b {
                    font-size: 12px;
                }
                .line {
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    #section1 {
        .component-container {
            max-width: 80%;
            margin: auto;
        }
    }
}

@media (max-width: 416px) {
    #section1 {
        .component-title {
            line-height: 1.5;
        }
        #hollowFiberContainer {
            .pc {
                display: none;
            }
        }
        .mb {
            display: block !important;
        }
        .component-container {
            .pc-footer {
                display: none;
            }
            .mb-footer {
                display: block !important;
                text-align: center;
                b {
                    font-size: 14px;
                    line-height: 1;
                    color: #d71921;
                    text-transform: uppercase;
                    font-family: 'iCiel Gotham Bold';
                }
            }
        }
    }
}